header {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 12px 100px 0;
    
}

.page-name {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 12px 0;
}
.name-italic {
    font-size: 40px;
    font-style: italic;
    color: green;

}
.fa-mouse-pointer {
    font-size: 40px;
}

body {
    background-color:green;
}

.job-info {
    display: flex;
}

.job-info h4 {
    flex-grow: 1; 
}

.sent-curriculum {
    background-color: white;
    padding: 50px 100px;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px black;
}

.job-content {
    padding: 24px;
    margin: 12px 0;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
.name-company {
    font-weight: bold;
}
.fa-heart {
    color: green;
    font-size: 30px;
}

button {
    padding: 5px 10px;
    margin-top: 12px;
    border: none;
    /* box-shadow: 0 0 10px green; */
    background-color: green;
    color: white;
}

.info-description {
    font-style: italic;

}

.info-date {
    font-size: 12px;
    text-align: end;
}

.select-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 12px 24px;
    margin: 12px 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}
select {
    outline: none;
}