body {
    background-color:  green;
}

.job-info {
    display: flex;
}

.job-info h4 {
    flex-grow: 1; 
}

.sent-curriculum {
    background-color: #ccc;
    padding: 50px 100px;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px black;
}

.job-content {
    padding: 12px;
    margin: 12px;
    background-color: #ccc;
    border: 1px solid #888;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
.name-company {
    font-weight: bold;
}
.fa-heart {
    color: green;
    font-size: 30px;
}